:root {
    --first-police: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --secondary-police: 'Arial', Helvetica, sans-serif;
    --first-color: #000000;
    --secondary-color: #ffffff;
    --third-color: #cccccc;
  }