@import './../src/Styles/variable.css';

body {
  font-family: var(--first-police);
  background-color: var(--first-color);
  color: var(--secondary-color);
}

.header {
  font-family: var(--secondary-police);
  background-color: var(--secondary-color);
  color: var(--first-color);
}

.footer {
  background-color: var(--third-color);
  color: var(--first-color);
}

.h1, h2, h3, h4, h5, h6 {
  font-family: var(--first-police);
}